*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f8f9;
}
/*
---header---
*/
.logo{
    margin-top: 15px;
    margin-left: 15px;
    background-color: #ffffff;
}

#logo-img{
    vertical-align: middle;
}

.logo h1{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}
/*
--- fine header---
*/

/*
---inizio main---
*/
    /*button*/
main{
    margin-top: 60px;
    margin-left: 180px;
    background-color: #ffffff;
    border-radius: 7px;
    width: 600px;
}

button{
    border-radius: 3px;
    border: 1px solid rgb(180, 178, 178);
    padding: 5px;
    background-color: white;
    color: rgb(255, 250, 250);
}
.second-butt{
    color: rgb(172, 170, 170);
}
.first-butt{
    background-color: #09a9ed;
}
    /* fine button*/


    /* inizio lista*/
        /*prima lista*/
.new-task-sect{
    margin-top: 20px;
}

ul{
    list-style: none;
}
li{
    margin-top: 7px;
}
.task1{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
.Editorial::after{
        content: 'editorial';
        background-color: #09a9ed;
        color: white;
        border-radius: 3px;
        padding: 2px;
        margin-left: 7px;
        margin-bottom: 10px;
}
.item::before{
    content: '✓';
    color: #3bcab1;
    border: 1px solid #3bcab1;
    border-radius: 50%;
    margin-right: 4px;
}
        /* fine prima lista*/

        /*inizio seconda lista*/
.qgoals::after{
    content: 'Q1 goals';
    background-color: #ab5de6;
    color: white;
    border-radius: 3px;
    padding: 2px;
    margin-left: 7px;
    margin-bottom: 10px;
}
.inteview::before{
    content: '☓';
    color: #ff4141;
    border: 1px solid #ff4141;
    border-radius: 50%;
    margin-right: 4px;
}

.inteview::after{
    content: 'Recruiting';
    background-color: #2cc6ab;
    color: white;
    border-radius: 3px;
    padding: 2px;
    margin-left: 7px;
    margin-bottom: 10px;
}

.mobile::after{
    content: 'Mobile';
    background-color: #ff9b00;
    color: white;
    border-radius: 3px;
    padding: 2px;
    margin-left: 7px;
    margin-bottom: 10px;
}
        /*fine seconda lista*/

    /* fine lista*/
/*
--- fine main---
&#65794;
*/

