*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
---header---
*/
.logo{
    margin-top: 15px;
    margin-left: 15px;
}

#logo-img{
    vertical-align: middle;
}

.logo h1{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}
/*
--- fine header---
*/

/*
---inizio main---
*/
    /*button*/
main{
    margin-top: 60px;
    margin-left: 180px;
}

button{
    border-radius: 3px;
    border: 1px solid rgb(180, 178, 178);
    padding: 5px;
    background-color: white;
    color: rgb(255, 250, 250);
}
.second-butt{
    color: rgb(172, 170, 170);
}
.first-butt{
    background-color: #14aaf5;
}
    /* fine button*/
/*
--- fine main---
*/

