*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
---header---
*/
.logo{
    margin-top: 15px;
    margin-left: 15px;
}

#logo-img{
    vertical-align: middle;
}

.logo h1{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}
/*
--- fine header---
*/